body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.FormGit {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-wrap: wrap;

}

.FormGit form {
     width: 100%;
     text-align: center;
 }
.FormGit input {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.FormGit input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;

}
.FormGit input[type=submit]:hover {
    background: rgba(2, 85, 190, 0.79);
    color: #fff;
}
button {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;

}
button:hover {
    background: rgba(2, 85, 190, 0.79);
    color: #fff;
}

.FormGit label {
    width: 50%;
    margin: 0 auto;
}

.FollowersList {
    list-style: none;
    width: 100%;
    text-align: left;
    margin-top: 0px;
    border:  solid 1px #cccccc;
    padding-left: 0px;

}

.FollowersList li {
    cursor: pointer;
    padding-left: 10px;
    border-bottom:  1px solid #ccc;
    padding: 10px;
}
.FollowersList li:hover {
    color:#ff0000;
}
.FollowersList span{
    float: right;
    font-size: 12px;
    padding-top: 10px;

}
.FollowersList p {
    padding-left: 10px;
}



.FollowersInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 2px #eee;
    width: 30%;
    height: auto;
}

.FollowersInfo img {
    width: 50%;
    height: 280px;
}

.FollowersInfo .FoloverCard {
    width: 50%;

}

.FoloverCard p {
    border: solid 2px #eee;
}

.UserMiniCard {
    width: 50%;
}

.UserMiniCard .FoloverCard {
    width: 70%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.FoloverCard li {
    border: solid 2px #eee;
}

.followers_list_title {
    font-size: 37px;
    line-height: 0;
}

.UserMiniCard {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.UserMiniCard img {

    height: 280px;
    width: 30%;
}
.UserWrap
{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
