body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.FollowersList {
list-style:none;

}
.FollowersList li {
    cursor:pointer;
}
.FollowersInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 2px #eee;
    width: 100%;
}
.FollowersInfo img {
width:50%;
}
.FollowersInfo .FoloverCard {
    width: 50%;
}
.FoloverCard p {
border: solid 2px #eee;
}